



<div class="text-center">
<h1>Star Wars since 2015</h1>
<%= link_to "New film", new_article_path, class: "btn btn-success mb-3" %>
</div>
<div class="container">
<% @articles.each do |article| %>

<div class="shadow p-3 mb-5 bg-white rounded d-flex justify-content-between">

  <div>

  <h2> <%= article.title %> </h2>
  <p><%= "*" * article.stars %></p>

  </div>

<div>
  <%= link_to "More details", article_path(article.id), class:"btn btn-primary" %>
</div>

</div>

<% end %>
</div>


