// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: rgb(240, 240, 240);
	font-family: 'Audiowide', cursive;
}

.btn-primary {
	background-color: #0074D9;
}

.btn-primary:hover {
	background-color: #001f3f;
}

.btn-success {
	background-color: #2ECC40;
	border-color: #2ECC40;
}
.btn-success:hover {
	background-color: #3D9970;
	border-color: #3D9970;
}

.btn-danger {
	background-color: #FF4136;
	border-color: #FF4136;
}
.btn-danger:hover {
	background-color: #85144b;
	border-color: #85144b;
}
